@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Happy Birthday The Hayden Lowry Website";
}


<!--header-->
<h1>My Preferred name is Hayden</h1><br />

<!--Image-->
<h2>Disc Golfing with the Fam</h2>
<img src="img/2C6E03F7-BBA8-4BAC-A4C8-64FA150321D8_1_105_c.jpeg" /><br /><br />

<!--p-tag-->
<p>
    After having finished the Python/Django Class last semester, I realize that there are some very complicated programs that people have written.
    These programs have certain quirks because of how they were written, but they hand you the ability to create so many things. I enjoy the ability
    to create freely! I felt like I could create freely with django after finishing the class. My goal this semester is to know my way around .NET
    enough that I feel like I can freely create.
</p><br />

<!--Ordered List-->
<h3>Top 3 jobs to pursue after graduation</h3>
<ol>
    <li>Software Developer</li>
    <li>Cloud Engineer</li>
    <li>Business Intelligence</li>
</ol><br />


    
